<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h3>Counter component</h3>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <b>{{count | async}}</b>
  </mat-card-content>

  <mat-card-footer>
    <button id="increment" (click)="increment()">Increment</button>
    <button id="decrement" (click)="decrement()">Decrement</button>
    <button id="reset" (click)="reset()">Reset</button>
    <button id="setFive" (click)="setFive()">5</button>
  </mat-card-footer>
</mat-card>