.pump {
  width: 100%;
  margin-top: 20px;
}

table {
  width: 100%;
}

.mat-column-select {
  overflow: initial;
}

.pump-text {
  float: left;
  clear: both;
}

.pump-actions {
  float: right;
}

.divider {
  clear: both;
}