<div class="administration-content">
  <h2>Settings</h2>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>User</h3>
      </mat-card-title>
    </mat-card-header>

    <div>
      <label>Name:</label> {{user}}
    </div>

    <div>
      <label>Age:</label> {{ageValue}}
      <mat-slider thumbLabel [tickInterval]="ageTickInterval" [min]="ageMin" [max]="ageMax" [step]="ageStep" [value]="ageValue" [(ngModel)]="ageValue">
      </mat-slider>
    </div>

    <div>
      <label>State:</label> {{state}}
    </div>

    <div>
      <mat-checkbox [(ngModel)]="isNotificationsEnabled">Send me email notifications</mat-checkbox>
      <br> {{isNotificationsEnabled | emailNotifications }}
    </div>
  </mat-card>

  <mat-card class="slider-card">
    <mat-card-header>
      <mat-card-title>
        <h3>Address</h3>
      </mat-card-title>
    </mat-card-header>

    <div>
      <label>Address:</label> {{address}}
    </div>

    <div>
      <label>City:</label> {{city}}
    </div>
  </mat-card>
</div>