<div class="administration-content">
  <h2>Settings</h2>

  <h3>User</h3>

  <div>
    <label>Name:</label> {{user}}
  </div>

  <div>
    <label>Age:</label>
    <mat-slider min="7" max="100" step="1" value="1"></mat-slider>
  </div>

  <div>
    <label>State:</label> {{state}}
  </div>

  <div>
    <label>Email notifications:</label> {{emailNotification}}
  </div>

  <h3>Address</h3>

  <div>
    <label>Address:</label> {{address}}
  </div>

  <div>
    <label>City:</label> {{city}}
  </div>
</div>