<div class="administration-content">
  <h2>Settings</h2>

  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>User</h3>
      </mat-card-title>
    </mat-card-header>

    <div>
      <label>Name:</label> {{user}}
    </div>

    <div>
      <label>Age:</label> {{ageValue}}
      <mat-slider thumbLabel [tickInterval]="ageTickInterval" [min]="ageMin" [max]="ageMax" [step]="ageStep" [value]="ageValue" [(ngModel)]="ageValue">
      </mat-slider>
    </div>

    <div>
      <label>Date of birth:</label>
      <mat-form-field class="field">
        <input matInput [matDatepicker]="birthDatePicker" [formControl]="dateOfBirthFormControl">
        <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #birthDatePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div>
      <label>Profession:</label>
      <mat-form-field class="field">
        <input type="text" matInput placeholder="Pick profession" [matAutocomplete]="professionAutoComplete" [formControl]="formControl">
      </mat-form-field>
      <mat-autocomplete #professionAutoComplete="matAutocomplete">
        <mat-option *ngFor="let profession of filteredProfessions | async" [value]="profession">{{profession}}</mat-option>
      </mat-autocomplete>
    </div>

    <div>
      <label>State:</label> {{state}}
    </div>

    <div>
      <mat-checkbox [(ngModel)]="isNotificationsEnabled">Send me email notifications</mat-checkbox>
      <br> {{isNotificationsEnabled | emailNotifications }}
    </div>
  </mat-card>

  <mat-card class="slider-card">
    <mat-card-header>
      <mat-card-title>
        <h3>Address</h3>
      </mat-card-title>
    </mat-card-header>

    <div>
      <label>Address:</label> {{address}}
    </div>

    <div>
      <label>City:</label> {{city}}
    </div>
  </mat-card>
</div>