.post-detail {
  margin-top: 20px;
}

.caption {
  font-weight: 100;
}

.signature {
  font-weight: 100;
}

.icon {
  position: relative;
  top: 7px;
}

.author {
  width: 20%;
  padding-top: 5px;
  font-weight: 100;
  border-top: 1px solid gray;
}