<div>
  <!-- <div id="chartContainer" style="width: 500px;"></div> -->
  <div class="jumbotron" style="width: 100%;">
    <h1>Dashboard</h1>
    <p class="lead">
      It is possible to setup user information.
    </p>
    <a class="btn btn-lg btn-primary" href="" role="button" [routerLink]="['/admin', 'user']">User settings</a>
    <p class="lead">
      It is possible to configure application settings too.
    </p>
    <a class="btn btn-lg btn-primary" href="" role="button" [routerLink]="['/admin', 'application']">Application settings</a>
  </div>

  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div id="soldChartContainer" style="height: 350px; width: 500px;"></div>
    </div>
  </div>

  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div id="chartContainer" style="height: 350px; width: 500px;"></div>
    </div>
  </div>

  <div class="container" style="margin-top: 50px;">
    <div class="row">
      <div class="col-lg">
        ngshop
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md">
        Realtime data
      </div>
      <div class="col-md">
        Process automation
      </div>
      <div class="col-md">
        Scalability
      </div>
    </div>
  </div>
</div>