a:link,
a:visited {
  display: inline-block;
  color: aliceblue;
}

.cart a:link {
  text-decoration: none;
}

.cart .fancy-button {
  background-color: white;
  color: #1976d2;
}

.button .fancy-button i.material-icons {
  color: #1976d2;
  padding-right: 4px;
}


/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/