<nav class="navbar">
  <a class="nav-link" [routerLink]="['/dashboard']">
    Dashboard
  </a>
  <a class="nav-link" [routerLink]="['/']">
    Stocktaking
  </a>
  <a class="nav-link" [routerLink]="['/pump']">
    Pump
  </a>
  <a class="nav-link" [routerLink]="['/pump2']">
    Pump2
  </a>
  <a class="nav-link" [routerLink]="['/admin']">
    Administration
  </a>
</nav>

<div class="cart">
  <a class="button fancy-button" [routerLink]="['/cart']">
    <i class="material-icons">shopping_cart</i>Checkout
  </a>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->